table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .table{
    width: 80%;
    left: 10%;
    position: relative;
  }

  tr:nth-child(2n){
    background-color: #f9f9f9;
  }

  tr:hover td{
    background-color: #eaeaea;
    cursor: pointer;
  }